h1,
p {
  font-family: Lato;
}

body {
  background-color: #f4f4f4;
}

button {
  background-color: #3b83e5;
  color: white;
  border: none;
  padding: 2px 5px;
}

button:hover {
  cursor: pointer;
  background-color: #4b8add;
}

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  height: 90vh;
  overflow-y: auto;
  width: 90%;
  margin-top: 10px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.message-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d8dada;
  background-color: white;
  padding: 10px;
}

.message-header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: grey;
}
